@model IEnumerable<src.Models.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="calendar"></div>
<div style="display: none">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient.Gender)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="events">

                <td class="start">
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="title">
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Speciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Gender)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
@section Scripts
{
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/fullcalendar.min.js"></script>
        <link href="~/Content/fullcalendar.css" rel="stylesheet" />
        <script type="text/javascript">$(document).ready(function () {
            var events = [];
            $(".Appointments4").each(function () {
                var title = $(".title", this).text().trim();
                var start = $(".start", this).text().trim();
                var start1 = moment(start).format();
                var event = {
                    "title": title,
                    "start": start1
                };
                events.push(event);
            });

            $("#calendar").fullCalendar({
                locale: 'au',
                events: events,
                dayClick: function (date, allDay, jsEvent, view) {
                    var d = new Date(date);
                    var m = moment(d).format("YYYY-MM-DD");
                    m = encodeURIComponent(m);
                    var uri = "/Appointments4/Create?date=" + m;
                    $(location).attr('href', uri);
                },
                eventClick: function (calEvent, jsEvent, view) {
                    alert("Appointment Note: " + calEvent.title);

                }
            });

            $('#meetingTable').DataTable({
                "pagingType": "full_numbers",
                "order": [[1, "asc"]]
            });
});
    </script>
    }